<h1>Admin#index</h1>


<p><%= link_to "Add user", new_user_path %></p>
<p><%= link_to 'Manage Contribution Levels', admin_contribution_levels_url %>
	
<p><%= link_to 'Manage Contributions', contributions_url %>
