<h1>Our vision for the Land Park Amphitheater</h1>


<p class="lead">During the early explorations of the need for the project we reached out to the performing arts community to identify the need for such a renovated amphitheater. Discussions were held with the Sacramento City College Performing Arts Department, producers of the annual Shakespeare in the Park series, and the various musical groups who do not currently use it because of its condition.
</p>


<h4>The following  were identified as in need of improvement to meet the requirements of a modern outdoor performance facility.</h4>


	
	
	<h3>Restroom facilities <small>that allow safe and convenient access from the seating area (currently portable toilet facilities must be set up in the parking lot south of the amphitheater and the only park toilet is a healthy hike away).</h3>
		
		
	<h3>Improved seating <small>(with backs) and improved sight lines to the stage.</h3>
	
	<h3>A ticketing and small administrative office <small>to allow sale and distribution of tickets and various office and accounting necessities.</h3>
	
	<h3>A secure sound and projection facility <small>so performance groups can bring in their sound and project equipment without the fear of theft (over $100,000 of equipment was stolen in 2012).</h3>
	
	<h3>Improved acoustics <small>that will project the sound towards the audience as well as provide an area for film projection.</h3>
	
	<h3>Improved back of house area <small>including a restroom and improved dressing room areas to accommodate the requirements for Screen Actor Guild contract performers who frequently are included in the theatrical performances.</h3>
	
	<h3>Increased area on the stage <small>to accommodate both theatrical and musical performers and better stage facilities which will allow connectivity to the audience and entrance to the stage from “stage center” (not now possible).</h3>
	
	<h3>A cover over the stage area <small>to protect musical instruments from both inclement weather and sun exposure and to provide staging for lighting and sound equipment.</h3>
	
	<h3>Improved sound and light infrastructure <small>for theatrical and musical events.</h3>
	
	<h3>Improved accessibility for ambulatory challenged individuals <small>in both the audience and performance area.</h3>
	
	<h3>Modern lighting systems <small>throughout the amphitheater seating area and the comfort facilities to allow for movement of patrons during performances.</h3>
	
	<h3>Improvements upon the historic fabric of the amphitheater <small>improving the grass seating area in front of the stage for picnics and the causal seating that has become a trademark of the amphitheater.</h3>
	
	<h3>An Endowment <small>to provide a financial buffer to insure that the facility can fiscally support itself through rental and user fees and, assist in the maintenance of Land Park through a fee program that would return funds to the City for the maintenance of Land Park itself. <font color="red">[PHIL, FIX THIS!]</font></h3>

