<div class="well actions">
<h3>Support the Amphitheater</h3>

<p>Here are a few things you can do to help us:</p>

<ul>
	<li>Donate to the project</li>
	<li>Buy T-shirts</li>
	<li>Spread the word...</li>
	
</ul>

</div>