<div class="well actions">
<h3>Support the Amphitheater</h3>

<p>Here a few things you can do to help us</p>

<ul>
	<li>Give Money</li>
	<li>Buy T-shirts</li>
	<li>Something else</li>
	<li>One more thing</li>
	
</ul>

</div>