<% unless @news.blank? %>

<div class="well news-tease">
	
	<h4><span class="glyphicon glyphicon-globe"></span> <%= @news.title %></h4>
	<p><%= truncate(@news.body, 
  length: 120, 
  separator: ' ', 
  omission: '... ') {     
    link_to "read more", @news 
} %> <span class="glyphicon glyphicon-share-alt more"></span></span>
</div>

<% end %>