<div class="well news-tease">
	
	<h4><span class="glyphicon glyphicon-film"></span> Video Realization</h4>
	<p><%= link_to 'Check out the video', vision_path(anchor: 'video') %> rendering of what the amphitheater <i>could</i> look like.  <span class="glyphicon glyphicon-share-alt more"></span></span>
</div>